{
    "driver_config": {
        "ip_address": "YOUR_HOME_ASSISTANT_IP",
        "port": 8123,
        "access_token": "YOUR_LONG_LIVED_ACCESS_TOKEN"
    },
    "registry_config": "config://ha.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "driver_type": "home_assistant",
    "publish_breadth_first_all": false,
    "publish_depth_first": false,
    "publish_breadth_first": false,
    "campus": "campus",
    "building": "building",
    "unit": "ha_gateway"
}